.jcr-score {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-bottom: 16px;
  }

  &__description {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 60%;
    border-radius: 2px;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    > * {
      margin-bottom: 16px !important;
    }
  }
}
